body{
    margin: 0px 0px 0px 0px;
}
h1{
   margin: 0px;
}
.containerMap {
    width: 80%;
    margin-left: 16%;
    margin-right: 4%;
}
#GraphsContainer{
    
}
.mainTitle {
    text-align: center;
    margin: 0px 0px 0px 0px;
}
#mainTitle1{
   font-size: 30px;
}
#mainTitle2{
    font-size: 42px;
}
#mainTitle3{
    font-size: 25px;
    margin-bottom: 10px;
}
#titles{
    height: 40px;
    box-sizing: border-box;
}
.title{
    border-color:blue;
    color:#FFF;
    border-width: 2px;
    border-style: solid;
    background-color:rgba(63, 63, 240, 0.993);
    box-sizing: border-box;
    float: left;
    margin-bottom: 15px;
}
#cantonTitle{
   margin-top: 10px;
   margin-bottom: 15px;
   width: 66%;
   margin-left: 17%;
   margin-right: 17%;
}
#province{
    float: left;
    margin-left: 10px;
}
#provinceName{
    float: left;
    margin-left: 8px;
}
#canton{
    float: left;
    margin-left: 30px;
}
#cantonName{
    float: left;
    margin-left: 8px;
}
#yearTitle{
   width: 12%;
   margin-left: 1%;
}
#year{
    float: left;
}
#sexTitle{
    width: 15%;
    margin-left: 1%;
}
#sex{
    float: left;
}
#ageTitle{
    width: 19%;
    margin-left: 1%;
}
#age{
    float: left;
}
#tumorTitle{
    width: 36%;
    margin-left: 1%;
}
#tumor{
    float: left;
}
#titles h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 10px;
    box-sizing: border-box;
}
#titles select{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
    box-sizing: border-box;
}
.graphAndText{
   
}
#textInfo1{
    margin-left: 5%;
    margin-right: 3%;
    width: 42%;
}
#graphContainer1{
    margin-left: 3%;
    margin-right: 5%;
    width: 42%;
    background-color: white;
}
#textInfo2{
    margin-left: 3%;
    margin-right: 5%;
    width: 42%;
}
#graphContainer2{
    width: 42%;
    margin-left: 5%;
    margin-right: 3%;
}
#textInfo3{
    margin-left: 5%;
    margin-right: 3%;
    width: 42%;
}
#graphContainer3{
    width: 42%;
    margin-left: 3%;
    margin-right: 5%;
}
#textInfo4{
    margin-left: 5%;
    margin-right: 3%;
    width: 42%;
    background-color: turquoise;
}
#graphContainer4{
    background-color: aqua;
    width: 42%;
    margin-left: 3%;
    margin-right: 5%;
}
#firstBlock{
    margin-top: 85px;
}
.textInfo{
    height: 500px;
    background-color: rgb(172, 208, 241);
    float: left;
    margin-bottom: 30px;
}
.graphContainer{
    height: 500px;
    float: left;
    margin-bottom: 30px;
}
.graphicName{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin: 35px 5px 35px 5px;
}
.graphicProp{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin: 35px 5px 35px 5px;
}
.graphicDesc{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 35px 5px 35px 5px;
}

#titles button{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
    box-sizing: border-box;
}

#graph1{
    margin-left: 125px;
    width: 550px;
}
#graph3{
    margin-top: 5px;
    margin-right: 5px;
}
#graph4{
    margin-top: 5px;
}
.graph{
    width: 340px;
    height: 240px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    border-width: 2px;
}
  
  #buttonUpdate:hover {
    color:greenyellow;
  }
  #buttonUpdate{
      margin-left: 4%;
      color: #FFF;
      background-color: green;
      border-color: green;
  }